<configuration scan="true" scanPeriod="60000">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- TODO Add Kinesis appender when ready. VMs, etc. can have FileAppender later as runtime config -->

  <!-- Change to DEBUG/TRACE for troubleshooting -->
  <logger name="com.godaddy" level="INFO" />

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
