repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-xml
    -   id: check-toml
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: forbid-new-submodules
    -   id: mixed-line-ending
    -   id: check-added-large-files
    -   id: check-symlinks
    -   id: check-merge-conflict
    -   id: check-byte-order-marker
- repo: https://github.com/godaddy/tartufo
  rev: v2.10.0
  hooks:
  - id: tartufo
