# This file is the top-most EditorConfig file
root = true

# All Files
[*]
indent_style = space
indent_size = 2
tab_width = 2

# XML Project Files
[*.{slnx,csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_style = tab
indent_size = 2
