# Rust build artifacts
target/
debug/
release/
**/*.rs.bk
Cargo.lock
**/*.o
**/*.so
**/*.dylib
**/*.dll
**/*.rlib
**/*.rmeta
**/.fingerprint/
**/incremental/
**/build/
**/*-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]/

# Local development environment
.env

# IDE and editor artifacts
.idea/
.vscode/
*.swp
*.swo

# Debugging artifacts
*.log

# OS specific
.DS_Store