# Rust build artifacts
target/
debug/
release/
**/*.rs.bk
Cargo.lock
**/*.o
**/*.so
**/*.dylib
**/*.dll
**/*.rlib
**/*.rmeta
**/.fingerprint/
**/incremental/
**/build/
**/*-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]/