name: '[C#] Pull Request'

# This workflow is triggered on pull requests to the main branch and is designed to run in conjunction with the CI workflow(s).
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/csharp-*.yml'
      - 'csharp/**'
      - 'samples/csharp/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-csharp-pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  appencryption-integration:
    name: 'AppEncryption: Integration'
    uses: ./.github/workflows/csharp-appencryption-integration.yml

  reference-app:
    name: 'Reference App: Build'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:10.0
      options: --ulimit core=-1 --ulimit memlock=-1:-1
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Add workspace to safe.directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Cache dotnet packages
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-reference-${{ hashFiles('samples/csharp/ReferenceApp/**/*.csproj') }}-v2

      - name: Build
        run: |
          cd samples/csharp/ReferenceApp
          ./scripts/clean.sh
          ./scripts/build.sh
