name: '[Go] AppEncryption CI'

on:
  workflow_dispatch:
    inputs:
      go-version:
        description: 'Go version'
        required: false

  push:
    paths:
      - 'go/appencryption/**'
      - '.github/workflows/go-appencryption-*'

  pull_request:
    branches:
      - main
    paths:
      - 'go/appencryption/**'
      - '.github/workflows/go-appencryption-*'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-go-ae-${{ github.ref }}
  cancel-in-progress: true

jobs:
  init-defaults:
    name: Init Defaults
    runs-on: ubuntu-latest
    outputs:
      go-version: ${{ steps.init.outputs.go-version }}
    steps:
      - id: init
        name: Init Go version
        run: |
          go_version="${{ inputs.go-version }}"
          if [ -z "${go_version}" ]; then
            go_version='stable'
          fi

          echo "Go version: ${go_version}"
          echo "go-version=${go_version}" >> $GITHUB_OUTPUT

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: init-defaults
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ needs.init-defaults.outputs.go-version }}
          cache-dependency-path: 'go/*/go.sum'

      - name: Install dependencies
        run: |
          cd go/appencryption
          go get .

      - name: Build
        run: |
          cd go/appencryption
          ./scripts/build.sh

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: [init-defaults, build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: ${{ needs.init-defaults.outputs.go-version }}
          cache-dependency-path: 'go/*/go.sum'

      - name: Install dependencies
        run: |
          cd go/appencryption
          go get .
          go install gotest.tools/gotestsum@latest

      - name: Run linters
        uses: golangci/golangci-lint-action@9fae48acfc02a90574d7c304a1758ef9895495fa # v7.0.1
        with:
          version: 'v2.8.0'
          skip-cache: true
          working-directory: 'go/appencryption'

      - name: Run unit tests
        run: |
          cd go/appencryption
          sudo prlimit --pid $$ --core=-1
          sudo prlimit --pid $$ --memlock=-1:-1
          ./scripts/test.sh

      - name: Unit test summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.3.0
        with:
          paths: 'go/appencryption/junit_results.xml'
        if: always()

  release:
    if: startsWith(github.ref, 'refs/heads/release-')
    needs: test
    permissions:
      contents: write
    name: Release
    uses: ./.github/workflows/go-appencryption-release.yml
