name: '[Go] AppEncryption Bench'

on:
  workflow_call:
    inputs:
      go-version:
        description: 'Go version'
        type: string
        default: 'stable'

permissions:
  contents: read

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: ${{ inputs.go-version }}
          cache-dependency-path: 'go/*/go.sum'

      - name: Install dependencies
        run: |
          cd go/appencryption
          go get .

      - name: Run benchmarks
        run: |
          cd go/appencryption
          sudo prlimit --pid $$ --core=-1
          sudo prlimit --pid $$ --memlock=-1:-1
          ./scripts/benchmark_test.sh
