name: '[Java] SecureMemory CI'

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: 'Java version'
        type: string
        default: '17'

  push:
    paths:
      - 'java/secure-memory/**'
      - '.github/workflows/java-securememory-*'
    branches-ignore:
      - 'release-*'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-java-sm-${{ github.ref }}
  cancel-in-progress: true

jobs:
  init-defaults:
    name: Init Defaults
    runs-on: ubuntu-latest
    outputs:
      java-version: ${{ steps.init-java.outputs.java-version }}
    steps:
      - id: init-java
        name: Init Java version
        run: |
          java_version="${{ inputs.java-version }}"
          if [ -z "${java_version}" ]; then
            java_version='17'
          fi

          echo "Java version: ${java_version}"
          echo "java-version=${java_version}" >> $GITHUB_OUTPUT

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: init-defaults
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: ${{ needs.init-defaults.outputs.java-version }}
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: 'java/*/pom.xml'

      - name: Build
        run: |
          cd java/secure-memory
          ./scripts/clean.sh
          ./scripts/build.sh

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: [build, init-defaults]
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: ${{ needs.init-defaults.outputs.java-version }}
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: 'java/*/pom.xml'

      - name: Run unit tests
        run: |
          cd java/secure-memory
          sudo prlimit --pid $$ --core=-1
          sudo prlimit --pid $$ --memlock=-1:-1
          ./scripts/test.sh

      - name: Unit test summary
        uses: test-summary/action@31493c76ec9e7aa675f1585d3ed6f1da69269a86 # v2.3.0
        with:
          paths: 'java/secure-memory/target/surefire-reports/TEST-*.xml'
        if: always()

