name: '[Java] AppEncryption CI'

on:
  workflow_dispatch:

  workflow_call:
    inputs:
      java-version:
        description: 'Java version'
        type: string
        default: '17'

  push:
    # branches:
    #   - ci-refresh # TODO: remove/fix prior to PR
    paths:
      - 'java/appencryption/**'
      - '.github/workflows/java-appencryption-*'

jobs:
  init-defaults:
    runs-on: ubuntu-latest
    outputs:
      java-version: ${{ steps.init-java.outputs.java-version }}
    steps:
      - id: init-java
        name: Init Java version
        run: |
          java_version="${{ inputs.java-version }}"
          if [ -z "${java_version}" ]; then
            java_version='17'
          fi

          echo "Java version: ${java_version}"
          echo "java-version=${java_version}" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: init-defaults
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: ${{ needs.init-defaults.outputs.java-version }}
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: 'java/*/pom.xml'

      - name: Build
        run: |
          cd java/app-encryption
          ./scripts/clean.sh
          ./scripts/build.sh

  test:
    runs-on: ubuntu-latest
    needs: [build, init-defaults]
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version: ${{ needs.init-defaults.outputs.java-version }}
          distribution: 'temurin'
          cache: 'maven'
          cache-dependency-path: 'java/*/pom.xml'

      - name: Run unit tests
        run: |
          cd java/app-encryption
          sudo prlimit --pid $$ --core=-1
          sudo prlimit --pid $$ --memlock=-1:-1
          ./scripts/test.sh

      - name: Unit test summary
        uses: test-summary/action@032c8a9cec6aaa3c20228112cae6ca10a3b29336 # v2.3.0
        with:
          paths: 'java/app-encryption/target/surefire-reports/TEST-*.xml'
        if: always()
